**/__pycache__
*.py[cod]
**/.ipynb_checkpoints
.DS_Store
**/.ropeproject
.ropeproject
**/.mypy_cache
.mypy_cache

# C extensions
*.c
*.cpp
*.so

# Data / outputs:
data/
figures/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# custom
.idea/
.vscode/
.venv/
.tox/
.pytest_cache/
*.html
*.zarr
*.npz
*.log
**/temp
checkpoints/
log/
